main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}

#login {
  grid-column: span 2;
}

.map-container {
  border: 5px solid darkblue;
}

#map {
  width: 100%;
  height: 800px;
}

.loc-marker {
  background-image: url("images/location-inactive.png");
  background-size: cover;
  width: 50px;
  height: 55px;
}

#Richmond #marker-Richmond, #North-Vancouver #marker-North-Vancouver, #Surrey #marker-Surrey, #Coquitlam #marker-Coquitlam, #Abbotsford #marker-Abbotsford {
  background-image: url("images/location-active.png");
  background-size: cover;
  width: 50px;
  height: 55px;
}

#current-location-marker {
  background-image: url("images/you-are-here.png");
  background-size: cover;
  width: 38px;
  height: 50px;
}

#Richmond fieldset div:has(input[value="Richmond"]), #North-Vancouver fieldset div:has(input[value="North-Vancouver"]), #Surrey fieldset div:has(input[value="Surrey"]), #Coquitlam fieldset div:has(input[value="Coquitlam"]), #Abbotsford fieldset div:has(input[value="Abbotsford"]) {
  background-color: rgb(252, 140, 140);
}

fieldset div {
  width: 100%;
  min-height: 50px;
  border: 2px solid plum;
}

#nextpage {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: hotpink;
  color: white;
  border-radius: 10px;
}

.visually-hidden {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}


