@import url(../../common.css);
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  color: #666;
  margin: 0 1rem;
  overflow-y: hidden;
  /* 👆 This overflow-y is to prevent screen from being scrolled during loading */
}

:root {
  --color-primary: #e04462;
  --color-secondary: #103646;
  --color-input: #f4f4f4;
  --color-lightnpink: #fce4e7;
}

/* Main */
main {
  margin: 0 24.5px 226px 24.5px;
  #form_list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  /* common in main */
  h3 {
    color: var(--dark-blue-green);
    font-family: var(--h4-family);
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    display: flex;
    gap: 0.5rem;
    margin-bottom: 13px;
    .num-title {
      display: flex;
      background-color: var(--dark-blue-green);
      height: 32px;
      width: 32px;
      border-radius: 100%;
      justify-content: center;
      align-items: center;
    }
    span {
      color: white;
      font-family: var(--subtitle-2-family);
      font-size: var(--subtitle-2-size);
      font-weight: var(--subtitle-2-weight);
    }
  }
  p {
    font-family: var(--subtitle-2-family);
    font-size: var(--subtitle-2-size);
    font-weight: var(--subtitle-2-weight);
    margin-bottom: 35px;
  }

  /* For Prathibha */
  /* 1. List Your Items*/

  /* for modal */
  .addItem {
    margin-top: 10px;
    @media screen and (min-width: 900px) {
      /* general border & spacing */
      border: 1px solid black;
      border-radius: 23px;
      padding: 50px;

      /* grid */
      display: grid;
      grid-template-columns: 0.5fr 1fr;
    }

    .item-description-wrapper p {
      @media screen and (min-width: 900px) {
        max-width: 190px;
      }
    }
    .item-description-wrapper h3{
      @media screen and (min-width: 900px) {
        display: block;
        font-size: var(--h3-size);
        font-weight: var(--h3-weight);
      }
    }

    

    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);

      .modal-content {
        background-color: #f4f4f4;
        margin: 20% auto;
        width: 85%;
        height: 40rem;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
          0 7px 20px 0 rgba(0, 0, 0, 0.17);
        position: relative;
      }

      .modalClose {
        font-size: 2rem;
        position: absolute;
        bottom: 0;
        left: 50%;
      }

      .modalClose:hover {
        cursor: pointer;
      }

      .modal-body {
        padding: 10px 20px;
        color: black;
      }

      #radioContainer {
        display: flex;
        align-items: center;
      }

      #radioContainer > label {
        margin-right: 0;
      }

      #radioContainer > input {
        width: 50px;
      }

      .button-row {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      #itemsContainer {
        width: 100px;
        height: 100px;
      }

      #capture,
      #reupload,
      #retake {
        border: 1px solid black;
        background-color: white;
        color: var(--color-primary);
      }

      .btn-back--modal {
        border: solid 2px black;
        width: 5%;
      }
    }

    .btn-div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      a {
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: 800;
        padding: 1rem;
        cursor: pointer;
        text-align: center;
      }

      .btn-back {
        border: 1px solid black;
        background-color: white;
        color: var(--color-primary);
      }

      .btn-next {
        border: none;
        background-color: var(--color-primary);
        color: white;
      }
    }

    div {
      margin-bottom: 0.75rem;
    }

    .item-wrapper {
      display: grid;
      grid-template-columns: 1fr 100px;
      gap: 1rem;
      align-items: center;
      text-align: center;

      input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        height: 48px;
        padding: 0.5rem;
        /* margin-top: 5px; */
        border: 0.5px solid black;
        border-radius: 7px;
        color: var(--grey-2);
        font-family: var(--body-family);
        font-size: var(--body-size);
        font-weight: var(--body-weight);
      }

      .btn-add-div {
        display: flex;
        justify-content: center;
        border: 1px solid black;
        border-radius: 7px;
        background-color: white;
        color: var(--color-primary);
        font-family: var(--body-family);
        font-size: var(--body-size);
        font-weight: var(--body-weight);
        padding: 0.5rem;
        height: 48px;
        box-sizing: border-box;
        cursor: pointer;
      }

      .btn-add {
        display: inline-flex;
        align-items: center;
        gap: 10px;
      }
    }

    .item-list-wrapper {
      overflow: hidden;      

      li.item-list-li {
        list-style-type: none; /* Removes bullet points from li */
        margin-bottom: 20px;
      }

      .item-card {
        display: flex;
        justify-content: space-between; /* Distributes space between the image/name and icons */
        align-items: center; /* Vertically centers all items within the .item-card */
        border: 2px solid #DFDFDF; /* Adjust the border color and size as needed */
        border-radius: 7px;
        padding: 10px; /* Adjust the padding as needed */
        gap: 10px; /* If you want a gap between the image/name and icons */
      }

      .placeholder-pic {
        border-radius: 10%; /* Gives the image a round shape */
        width: 64px; /* Size of the image */
        height: 56px; /* Size of the image */
        object-fit: cover;
      }
      .editable-item-name {
        flex-grow: 2; /* Allows the text field to grow and take up available space */
        padding: 0.5rem;
      }

      .item-name-container {
        display: flex;
        justify-content: flex-end; /* Aligns the children (icons) to the right */
        align-items: center; /* Centers the icons vertically */
        gap: 10px;
      }

      .icon1 {
        cursor: pointer; 
        margin-left: 10px; 
      }
      .icon2 {
        cursor: pointer; 
        margin-left: 10px; 
      }
      .icon3 {
        cursor: pointer; 
        margin-left: 10px; 
      }

      .item-set1 {
        display: flex;
        align-items: center;
        margin: 0;
      }

      .save.hidden {
        display: none;
      }

      /* When the save icon is not hidden, it should appear inline with other icons */
      .save:not(.hidden) {
        display: inline-block; /* Or 'block' if you want it to take up the full space */
      }
    }

    .input-icon-wrapper {
      position: relative;
      display: inline-block;

      #newItemName {
        padding-right: 30px;
      }

      #listup-pic {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }

    .hidden {
      display: none !important;
    }

    .margin {
      margin-right: 10px !important;
    }

    .btn-proceed {
      border: none;
      background-color: var(--color-primary);
      color: white;
      width: auto;
      display: block;

      @media screen and (min-width: 900px) {
        display: unset;
        float: right;    
      }
    }

    a {
      border-radius: 10px;
      font-size: 1.2rem;
      font-weight: 800;
      padding: 1rem;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
    }
  }

  /* For Ishi */
  /* 2. Pick-Up Address*/
  .pickup-info {
    @media screen and (min-width: 900px) {
      /* general border & spacing */
      border: 1px solid black;
      border-radius: 23px;
      padding: 50px;

      /* grid */
      display: grid;
      grid-template-columns: 0.5fr 1fr;
    }
    .section-title,
    .section-desc {
      @media screen and (min-width: 900px) {
        max-width: 190px;
      }
    }
    .section-title {
      @media screen and (min-width: 900px) {
        display: block;
        font-size: var(--h3-size);
        font-weight: var(--h3-weight);
      }
    }
    .form-wrapper {
      @media screen and (min-width: 900px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 20px;
        .unitnum-div,
        .storageLocation-div {
          grid-column: 1/-1;
        }
        .btn-div {
          grid-column: 2/3;
        }
      }
      > div {
        margin-bottom: 8px;
      }
    }

    label {
      font-family: var(--subtitle-2-family);
      font-size: var(--subtitle-2-size);
      font-weight: var(--subtitle-2-weight);
      color: var(--grey-3);
    }

    label:after {
      content: " *";
      color: var(--alert);
    }

    input,
    select {
      display: block;
      width: 100%;
      box-sizing: border-box;
      height: 48px;
      padding: 0.5rem;
      margin-top: 5px;
      border: 0.5px solid black;
      border-radius: 7px;
      color: var(--grey-2);
      font-family: var(--body-family);
      font-size: var(--body-size);
      font-weight: var(--body-weight);
      outline: none;
    }

    input:focus,
    select:focus {
      border: 2px solid #0a2a38;
    }

    .btn-div {
      margin-top: 35px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      a {
        border-radius: 7px;
        font-family: var(--button-1-family);
        font-size: var(--button-1-size);
        font-weight: var(--button-1-weight);
        padding: 1rem;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
      }

      .btn-back {
        border: 0.5px solid black;
        background-color: white;
        color: var(--pink);
      }

      .btn-back:hover {
        background-color: var(--light-pink-2);
        border: 1px solid var(--light-pink);
      }

      .btn-save {
        border: none;
        background-color: var(--pink);
        color: white;
      }
      .btn-save:hover {
        background-color: var(--dark-pink);
      }
    }

    /* Calendar trial */
    .pickupDate-div {
      position: relative;
    }

    #calendar-wrapper {
      display: none;
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 2rem;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      position: absolute;
      top: 75px;
      overflow: auto;
      z-index: 1;
    }

    #calendar-header {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem 0 1rem;
    }

    #prev {
      border: none;
      background-color: white;
      color: var(--grey-2);
      transform: scale(1.5);
      cursor: pointer;
    }

    #next {
      border: none;
      background-color: white;
      color: var(--grey-2);
      transform: scale(1.5);
      cursor: pointer;
    }

    section {
      display: flex;
      justify-content: center;
    }

    h1 {
      font-family: var(--body-family);
      font-size: var(--body-size);
      font-weight: var(--body-weight);
      text-align: center;
      margin-bottom: 1rem;
    }

    table {
      border-spacing: 0;
      border-collapse: collapse;
      margin: 0 3rem;
      width: 100%;
    }

    td {
      /* border: 1px solid #ddd; */
      font-family: var(--body-family);
      font-size: var(--body-size);
      font-weight: var(--body-weight);
      padding: 5px;
      text-align: center;
    }

    td.is-disabled {
      color: #ccc;
    }
    .calendar_td {
      cursor: pointer;
    }
    .calendar_td:hover {
      color: white;
      border-radius: 30px;
      background-color: #f04d23;
    }
  }

  /* 3. Storage Size */
  .storage-size {
    @media screen and (min-width: 900px) {
      /* general border & spacing */
      border: 1px solid black;
      border-radius: 23px;
      padding: 50px;
    }
    h3,
    p {
      margin: 0;
      padding: 0;
      display: block;
    }
    .section-title {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 13px;
      @media screen and (min-width: 900px) {
        display: block;
        font-size: var(--h3-size);
        font-weight: var(--h3-weight);
      }
    }
    .section-desc {
      margin-bottom: 35px;
    }
    .box-size-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      @media screen and (min-width: 900px) {
        display: grid;
        gap: 0 24px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, auto), 40px;
        .btn-div {
          grid-column: 3/4;
        }
      }
    }

    .small-size,
    .medium-size,
    .large-size {
      border: 0.5px solid black;
      border-radius: 10px;
      padding: 45px 25px 56px 25px;
      pointer-events: none;
      text-align: center;
      @media screen and (min-width: 800px) {
        display: grid;
        grid-row: 1/12;
        grid-template-rows: subgrid;
        .size-title {
          grid-row: 1/4;
          align-self: center;
        }
        .size {
          grid-row: 4/7;
        }
        .mo {
          grid-row: 7/8;
        }
        .btn-select {
          grid-row: 9/12;
        }
      }
    }

    .small-size:hover,
    .medium-size:hover,
    .large-size:hover {
      border: 2px solid rgba(0, 0, 0, 0.5);
      /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3); */
    }

    .size-title {
      font-family: var(--h4-family);
      font-size: var(--h4-size);
      font-weight: var(--h4-weight);
      color: var(--grey-3);
      margin-bottom: 17px;
    }

    .size {
      font-family: var(--h1-family);
      font-weight: var(--h1-weight);
      font-size: 54px;
      color: var(--dark-blue-green);
      margin-bottom: 11px;
    }

    .price-num,
    .mo {
      font-family: var(--h4-family);
      font-weight: var(--h4-weight);
      font-size: 24px;
      color: var(--yellow);
      margin-bottom: 17px;
    }

    .btn-select {
      border-radius: 10px;
      font-family: var(--button-1-family);
      font-size: var(--button-1-size);
      font-weight: var(--button-1-weight);
      padding: 1rem;
      width: 100%;
      cursor: pointer;
      border: 0.5px solid black;
      background-color: white;
      color: var(--pink);
      pointer-events: auto;
    }

    .btn-select:hover {
      background-color: var(--light-pink-2);
      border: 2px solid var(--light-pink);
    }

    .btn-div {
      margin-top: 35px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      a {
        border-radius: 7px;
        font-family: var(--button-1-family);
        font-size: var(--button-1-size);
        font-weight: var(--button-1-weight);
        padding: 1rem;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
      }

      .btn-back {
        border: 0.5px solid black;
        background-color: white;
        color: var(--pink);
      }

      .btn-back:hover {
        background-color: var(--light-pink-2);
        border: 1px solid var(--light-pink);
      }

      .btn-save {
        border: none;
        background-color: var(--pink);
        color: white;
      }
      .btn-save:hover {
        background-color: var(--dark-pink);
      }
    }

    .selected {
      border: 2px solid rgba(0, 0, 0, 0.5);
      /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3); */
      .btn-select {
        background-color: var(--light-pink-2);
        border: 2px solid var(--light-pink);
      }
    }
  }

  /* 4. Storage Plan */
  .select-plan {
    @media screen and (min-width: 900px) {
      /* general border & spacing */
      border: 1px solid black;
      border-radius: 23px;
      padding: 50px;
    }
    h3,
    p {
      margin: 0;
      padding: 0;
      display: block;
    }

    .section-title {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 13px;
      @media screen and (min-width: 900px) {
        display: block;
        font-size: var(--h3-size);
        font-weight: var(--h3-weight);
      }
    }
    .section-desc {
      margin-bottom: 35px;
      text-align: start;
    }

    .term-container {
      display: flex;
      flex-direction: column;
      gap: 12px;
      @media screen and (min-width: 900px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, auto) 40px;
        gap: 0 24px;
        .btn-div {
          grid-column: 3/4;
          grid-row: 12/14;
        }
      }
    }

    .short,
    .mid,
    .long {
      border: 1px solid #d9d9d9;
      border-radius: 20px;
      pointer-events: none;
      @media screen and (min-width: 900px) {
        grid-row: 1/12;
        display: grid;
        grid-template-rows: subgrid;
        .plan-title {
          grid-row: 1/4;
          justify-self: start;
        }
        .term-inner-container {
          grid-row: 4/12;
          display: grid;
          grid-template-rows: subgrid;
          .trip {
            grid-row: 1/3;
            align-self: center;
          }
          .period {
            grid-row: 3/5;
          }
          .term-price {
            grid-row: 5/8;
          }
          .btn-select {
            grid-row: 8/12;
          }
        }
      }
    }

    .short:hover,
    .mid:hover,
    .long:hover {
      border: 1px solid black;

      .plan-title {
        background-color: var(--dark-blue-green);
        border: 1px solid var(--dark-blue-green);
        color: white;
      }
    }

    .plan-title {
      font-family: var(--h4-family);
      font-size: var(--h4-size);
      font-weight: var(--h4-weight);
      display: inline-block;
      background-color: #d9d9d9;
      border: 1px solid #d9d9d9;
      color: var(--dark-blue-green);
      padding: 10px 24px;
      margin-bottom: 18.5px;
      border-radius: 18px 0 20px 0;
      pointer-events: none;
    }

    .term-inner-container {
      border: none;
      box-sizing: border-box;
      padding: 0 25.5px;
      text-align: center;
    }

    .trip {
      font-family: var(--h2-family);
      font-size: var(--h2-size);
      font-weight: var(--h2-weight);
      color: var(--dark-blue-green);
      margin-bottom: 8px;
      .total {
        font-size: 0.75rem;
        font-weight: normal;
      }
    }

    .period {
      font-family: var(--h5-family);
      font-size: var(--h5-size);
      font-weight: var(--h5-weight);
      color: var(--grey-5);
      margin-bottom: 27.5px;
    }

    .term-price {
      font-family: var(--h4-family);
      font-size: var(--h4-size);
      font-weight: var(--h4-weight);
      color: var(--dark-blue-green);
      margin-bottom: 21px;
    }

    .btn-select {
      font-family: var(--button-1-family);
      font-size: var(--button-1-size);
      font-weight: var(--button-1-weight);
      background-color: white;
      color: var(--pink);
      display: block;
      width: 100%;
      padding: 1rem;
      margin-bottom: 28px;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 7px;
      cursor: pointer;
      pointer-events: auto;
    }

    .btn-select:hover {
      background-color: var(--light-pink-2);
      border: 2px solid var(--light-pink);
    }
    .selected {
      border: 1px solid black;
      .plan-title {
        background-color: var(--dark-blue-green);
        border: 1px solid var(--dark-blue-green);
        color: white;
      }
      .btn-select {
        background-color: var(--light-pink-2);
        border: 2px solid var(--light-pink);
      }
    }

    .btn-div {
      margin-top: 35px;
      display: grid;
      grid-template-columns: 0.66fr 1fr;
      gap: 1rem;

      a {
        border-radius: 7px;
        font-family: var(--button-2-family);
        font-size: var(--button-2-size);
        font-weight: var(--button-2-weight);
        padding: 1rem;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
      }

      .btn-back {
        border: 0.5px solid black;
        background-color: white;
        color: var(--pink);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .btn-back:hover {
        background-color: var(--light-pink-2);
        border: 1px solid var(--light-pink);
      }

      .btn-save {
        border: none;
        background-color: var(--pink);
        color: white;
      }
      .btn-save:hover {
        background-color: var(--dark-pink);
      }
    }
  }
}

/* LOADING SCREEN ========================================== */
/* Citation: https://blog.hubspot.com/website/css-loading-animation */

#loading-screen {
  z-index: 100;
  background-color: var(--white);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid var(--white);
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: var(--pink);
  letter-spacing: 4px;
  text-transform: uppercase;
  /* text-shadow:0 0 10px var(--white);
  box-shadow:0 0 20px var(--dark-pink); */
}

#loading::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid var(--pink);
  border-right: 3px solid var(--pink);
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}
#span-for-load {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
#span-for-load::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--pink);
  top: -6px;
  right: -8px;
  /* box-shadow:0 0 20px var(--white); */
}
@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
