@import "../common.css";

* {
  box-sizing: border-box;
  font-family: var(--body-family);
}

body {
  background-color: var(--grey-4);
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* HEADER ================================================= */

header .logo {
  background-color: var(--white);
}

header {
  position: relative;
}

.logo {
  padding: 10px;
}

h1 {
  font-family: var(--h2-family);
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  line-height: var(--h2-line-height);
  margin: 0;
}

header .hero p {
  font-size: var(--subtitle-2-size);
  font-weight: var(--subtitle-2-weight);
  line-height: var(--subtitle-2-line-height);
  margin: 0.5rem 0;
}

header .hero p::after {
  content: "";
  border-top: 3px solid var(--yellow);
  display: block;
  width: 36px;
  transform: translateY(0.5rem);
}

header > .hero {
  position: relative;
  margin: 1rem;
}

header > .hero img {
  border-radius: 15px;
  width: 100%;
}

header > .hero > div {
  color: var(--white);
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  padding-left: 1rem;
}

header nav ul {
  padding: 0;
  display: flex;
  gap: 0.8rem;
  overflow-x: scroll;
  margin-left: 1rem;
  margin-right: 1rem;
}

header nav ul li {
  list-style-type: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 4px;
}

header nav ul li:hover {
  background-color: var(--grey-1);
}

header nav ul li.current {
  background-color: var(--grey-1);
  color: var(--dark-blue-green);
}

header nav ul li img {
  max-width: unset;
}

header nav ul li p {
  margin: 0;
  text-wrap: nowrap;
}

/* MAIN =================================================== */

body {
  overflow-x: hidden;
}

main {
  position: relative;
  width: 100%;
}

section.orders {
  display: grid;
  grid-template-columns: auto 1fr 40%;
  gap: 1rem;
  position: absolute;
  width: 100%;
  padding: 0 1rem;
  transition: transform 0.3s;
}

.order {
  grid-column: 1/-1;

  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1.5rem;

  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 14px;

  cursor: pointer;
}

.order:hover {
  outline: 1.5px solid var(--grey-1);
}

.order img {
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 50%;
}

.order .time-and-name {
  grid-column: 2/3;
  grid-row: 1/2;
}

.order .orderStatus {
  grid-column: 3/4;
  grid-row: 1/2;

  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.order .orderStatus.ongoingTrip {
  background-color: var(--light-green);
  color: var(--confirmed);
  font-size: 12px;
}

.order .orderStatus.newTrip {
  background-color: var(--light-pink-2);
  color: var(--pink);
  font-size: 12px;
}

.order .orderID {
  grid-column: 2/4;
  grid-row: 2/3;
}

.order .orderAddress {
  grid-column: 2/4;
  grid-row: 3/4;
}

.order .time-and-name p:nth-of-type(1),
.order .orderID p:nth-of-type(1),
.order .orderAddress p:nth-of-type(1) {
  color: var(--grey-5);
  font-size: 12px;
  line-height: 125%;
  margin: 0;
  margin-bottom: 0.5rem;
}

.order .time-and-name p:nth-of-type(2),
.order .orderID p:nth-of-type(2),
.order .orderAddress p:nth-of-type(2) {
  color: var(--dark-blue-green);
  font-weight: bold;
  line-height: 125%;
  margin: 0;
}

.order button {
  grid-column: 1/-1;
  grid-row: 4/5;
  padding: 1rem;
  border-radius: 7px;
  border: 1px solid var(--grey-2);
  background-color: var(--white);
  font-size: var(--button-2-size);
  font-weight: var(--button-2-weight);
}

.order button.btnDriverAssigned {
  color: var(--dark-blue-green);
  cursor: pointer;
}

.order button.btnStartTrip {
  cursor: pointer;
  color: var(--pink);
}

.order button.btnStartTrip:hover {
  border-color: var(--light-pink);
  color: var(--dark-pink);
}
.order button.btnStartTrip:active {
  border-color: var(--light-pink);
  color: var(--pink);
  background-color: var(--light-pink-2);
}

/* "Select Driver" Popup =============== */

body:has(.popupBackground form) {
  overflow: hidden;
}

.popupBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.59);
  display: grid;
  align-items: center;

  display: none;
}

.popup {
  background-color: var(--white);
  margin: 1.5rem;
  border-radius: 20px;
  padding: 40px;
}

.popup h3 {
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
  color: var(--dark-blue-green);
  margin-top: 0;
}

.popup select {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: var(--body-size);
  font-weight: var(--body-weight);
  line-height: var(--body-line-height);
  color: var(--grey-2);
  border-radius: 7px;

  /* appearance: none; */
  /* safari */
  /* -webkit-appearance: none; */
  /* other styles for aesthetics */
  cursor: pointer;
}

.popup button.btnConfirmDriver {
  background-color: var(--pink);
  color: var(--white);
  border: none;
  border-radius: 7px;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 1rem;
  margin-top: 1rem;
  font-family: var(--button-2-family);
  font-size: var(--button-2-size);
  font-weight: var(--button-2-weight);
  line-height: var(--button-2-line-height);
}

.popup button.btnConfirmDriver:hover {
  background-color: var(--dark-pink);
}
.popup button.btnConfirmDriver:active {
  background-color: var(--light-pink);
}

/* Trip Details Page ================ */

section.tripDetails {
  padding: 0 1rem 4rem 1rem;
  color: var(--grey-2);
}

section.tripDetails h2 {
  font-family: var(--h3-family);
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
  color: var(--dark-blue-green);
}

.orderDetail {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 15px;

  display: grid;
  grid-template-columns: auto 1fr;
}

.orderDetail .orderDetailID {
  grid-column: 1/-1;
  margin-bottom: 1.5rem;
}

.orderDetail .orderDetailID p {
  margin: 0;
}

.orderDetail .orderDetailID p:nth-of-type(2) {
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
  color: var(--dark-blue-green);
}

.orderDetail .orderDetailName {
  align-items: center;
  grid-column: 1/-1;

  display: grid;
  grid-template-columns: subgrid;
  gap: 1rem;

  margin-bottom: 1.5rem;
}

.orderDetail .orderDetailName p {
  margin: 0;
}

.orderDetail .orderDetailAddress {
  align-items: center;
  grid-column: 1/-1;

  display: grid;
  grid-template-columns: subgrid;
  gap: 1rem;

  margin-bottom: 1.5rem;
}

.orderDetail .orderDetailAddress p {
  margin: 0;
}

.orderDetail .orderDetailName img,
.orderDetail .orderDetailAddress img {
  justify-self: center;
}

.orderDetail h3,
.orderDetail .btnTripStarted,
.orderDetail .btnTripCompleted {
  grid-column: 1/-1;
}

.orderDetail h3 {
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
  color: var(--dark-blue-green);
}

.orderDetail .btnTripStarted {
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  color: var(--white);
  border-radius: 7px;
  margin-bottom: 1rem;

  font-family: var(--button-1-family);
  font-size: var(--button-1-size);
  font-weight: var(--button-1-weight);
  line-height: var(--button-1-line-height);
}

.orderDetail .btnTripCompleted {
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  color: var(--white);
  border-radius: 7px;

  font-family: var(--button-1-family);
  font-size: var(--button-1-size);
  font-weight: var(--button-1-weight);
  line-height: var(--button-1-line-height);
}

.orderDetail button:not(:disabled) {
  background-color: var(--pink);
  cursor: pointer;
}
.orderDetail button:disabled {
  background-color: var(--grey-1);
}

.orderDetail button:not(:disabled):hover {
  background-color: var(--dark-pink);
}
.orderDetail button:not(:disabled):active {
  background-color: var(--light-pink);
}

/* FOOTER ============================================= */

footer {
  background-color: #103646;
  position: relative;
  /* position: fixed;
  bottom: 0;
  width: 100%; */
}

footer nav ul a {
  color: white;
}

/* QUERIES ============================================= */

@media screen and (min-width: 800px) {
  element {
  }
}
