body {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    cursor: pointer;
}

.hamburger-menu div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

.main-menu ul {
    list-style-type: none;
    padding: 0;
}

.main-menu ul li {
    padding: 8px;
    margin: 5px 0;
}

.main-menu ul li a {
    text-decoration: none;
    color: white;
}

.hamburger-menu {
    display: block;
}

.main-menu {
    background-color: #103646;
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 999;
}

.main-menu.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);

}

.sub-menu {
    font-size: 14px;

}

.book-now {
    color: white;
    background-color: #E04462;
    border-style: none;
    padding: 8px;
    cursor: pointer;

}

#hero-image {
    position: relative;
}

#hero-image .book-now {
    position: absolute;
    left: 25%;
    top: 75%;
    padding: 10px;
    z-index: 90;

}

.hero-img {
    z-index: -1000;
}

.hero-caption {
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 3em;
    color: white;
}

.hero-caption::after {
    content: '';
    display: block;
    width: 25%;
    height: 5px;
    background-color: #F9B035;
    position: absolute;
    bottom: -10px;
    left: 0;
}

#hero-image img {
    width: 100%;
    max-height: 30em;
}

.hero-description {
    position: absolute;
    top: 60%;
    left: 25%;
    color: white;
}

.fa-image-portrait,
.fa-caret-down {
    display: none;
    color: #E04462;

    padding: 5px;
}

/* Media query for desktop devices */
@media (min-width: 900px) {
    #hero-image img {
        object-fit: cover;
    }

    .hamburger-menu {
        display: none;
    }

    .main-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        align-items: center;
        background-color: transparent;
        visibility: visible;
        transition: none;
        ;
        position: relative;
        opacity: 1;
        width: 100%;
        box-sizing: border-box;
        top: 20px;
    }

    .main-menu ul {
        display: flex;
        align-items: center;
    }

    .main-menu ul li a {
        color: black;
    }

    .main-menu ul li:last-child {
        margin-right: 0;
    }

    .book-now {
        padding: 10px 20px;
        background-color: #E04462;
        color: white;
        border: none;
        cursor: pointer;
    }

    .sub-menu {
        visibility: hidden;
        position: absolute;
        background-color: white;
        color: white;
    }

    .account-link {
        color: #E04462 !important;
    }

    .main-menu ul li:focus-within .sub-menu {
        visibility: unset;
        display: block;
    }

    .sub-menu {
        transform: translateY(10px);
        transform: translateX(10px);

    }

    .fa-image-portrait,
    .fa-caret-down {
        display: inline-block;
    }
}