@import "../../common.css";

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: var(--grey-4);
  margin: 0;
}

header {
  background-color: var(--white);
}

* {
  font-family: var(--body-family);
  color: var(--dark-blue-green);
}

/* MAIN ============================================= */

main nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

main nav ul li {
  cursor: pointer;

  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 0.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

main nav ul li img {
  justify-self: end;
}

main nav ul li p {
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}

main nav ul li:hover {
  background-color: var(--white);
}

main nav ul li.current {
  background-color: var(--white);
}

main nav ul li.current p {
  color: var(--pink);
}

main h2 {
  margin-top: 3rem;
  font-family: var(--h2-family);
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  line-height: var(--h2-line-height);
}

main section > p {
  margin-bottom: 3rem;
  color: var(--grey-5);
  font-size: var(--p18-size);
  font-weight: var(--p18-weight);
  line-height: var(--p18-line-height);
}

section.adding,
section.retrieval {
  position: absolute;
  display: none;
  background-color: var(--white);
  padding-left: 2rem;
  padding-right: 2rem;
}

section:has(.noOrder) {
  height: 100%;
}

.detail {
  max-width: 950px;
  margin-bottom: 3rem;
  display: grid;
  gap: 1rem;
}

.detail .preferred-date-and-time {
  background-color: var(--grey-4);
  border-radius: 21px;
  padding: 2rem;
}

.detail .preferred-date-and-time p {
  font-size: var(--p18-size);
  font-weight: var(--p18-weight);
  line-height: var(--p18-line-height);
  margin-top: 0;
}

.detail .preferred-date-and-time .preferredDate p:first-of-type,
.detail .preferred-date-and-time .preferredTime p:first-of-type {
  font-size: var(--subtitle-2-size);
  font-weight: var(--subtitle-2-weight);
  line-height: var(--subtitle-2-line-height);
  margin-bottom: 0.25rem;
}

.detail .preferred-date-and-time .preferredDate p:last-of-type,
.detail .preferred-date-and-time .preferredTime p:last-of-type {
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}

.detail .preferred-date-and-time .preferredTime p:last-of-type {
  margin-bottom: 0;
}

.detail .currentStatus-and-updates,
.detail .orderDetails {
  border: 1px solid var(--grey-1);
  border-radius: 21px;
  padding: 2rem;
}

.currentStatus-and-updates h3,
.orderDetails h3 {
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}

.currentStatus-and-updates .currentStatus h3,
.orderDetails h3 {
  margin-top: 0;
}

.currentStatus-and-updates .updates,
.orderDetails {
  display: grid;
  grid-template-columns: 30px 1fr;
}

.currentStatus-and-updates .updates {
  padding-top: 1rem;
}

.currentStatus-and-updates .updates .milestone {
  justify-self: center;
  z-index: 10;
}

.currentStatus-and-updates .updates svg.check {
  background-color: var(--dark-blue-green);
  border-radius: 50%;
  padding: 6px;
}
.currentStatus-and-updates .updates svg.grey,
.currentStatus-and-updates .updates svg.yellow {
  justify-self: center;
  z-index: 10;
  background-color: unset;
}

.orderDetails img {
  justify-self: center;
  z-index: 10;
}

.currentStatus-and-updates .currentStatus p:nth-of-type(1) {
  color: var(--pink);
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
  margin-bottom: 0;
}

.currentStatus-and-updates .currentStatus p:nth-of-type(2) {
  margin-top: 0;
}

.currentStatus-and-updates .updates h3,
.orderDetails h3 {
  grid-column: 1/-1;
}

.currentStatus-and-updates .updates div:nth-of-type(even) {
  padding-left: 2rem;
  padding-bottom: 3rem;
  transform: translateX(-15.5px);
}

.currentStatus-and-updates .updates div p:nth-of-type(1) {
  font-family: var(--h5-family);
  font-size: var(--h5-size);
  font-weight: var(--h5-weight);
  line-height: var(--h5-line-height);
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}
.currentStatus-and-updates .updates div p:nth-of-type(2) {
  color: var(--grey-2);
  font-size: var(--subtitle-2-size);
  font-weight: var(--subtitle-2-weight);
  line-height: var(--subtitle-2-line-height);
}

.orderDetails div {
  padding-left: 2rem;
  padding-bottom: 1rem;
  transform: translateX(-15px);
}

.orderDetails div:last-of-type {
  padding-bottom: 0;
}

.currentStatus-and-updates .updates p,
.orderDetails p {
  margin-top: 0;
}

.orderDetails > div > p:first-of-type {
  margin-bottom: 0.75rem;
  font-size: var(--p18-size);
  font-weight: var(--p18-weight);
  line-height: var(--p18-line-height);
}

.orderDetails > div > p:last-of-type {
  font-size: var(--button-2-size);
  font-weight: var(--button-2-weight);
  line-height: var(--button-2-line-height);
}

/* MEDIA QUERIES ============================================= */

@media screen and (min-width: 500px) {
  .detail .preferred-date-and-time {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: stretch;
  }

  .detail .preferred-date-and-time > p {
    grid-column: span 3;
  }

  .detail .preferred-date-and-time .preferredDate p:last-of-type {
    margin-bottom: 0;
  }

  .detail .preferred-date-and-time::after {
    content: "";
    border-right: 1px solid var(--grey-1);
    display: block;
    height: 100%;
    transform: translateX(-50%);
  }

  .detail .preferred-date-and-time .preferredTime {
    order: 3;
  }

  .currentStatus-and-updates .currentStatus {
    padding-bottom: 1rem;
  }
  .currentStatus-and-updates .updates {
    grid-template-columns: auto 30px 1fr;
  }

  .currentStatus-and-updates .updates > h3 {
    grid-column: unset;
    margin: 0;
    padding-right: 2rem;
  }

  .currentStatus-and-updates .updates .milestone {
    grid-column: 2/3;
  }
}

@media screen and (min-width: 600px) {
  main nav,
  section.adding,
  section.retrieval {
    padding-left: 5%;
    padding-right: 5%;
  }

  section {
    left: 0;
    right: 0;
  }

  main nav ul {
    display: flex;
    gap: 0.5rem;
    margin-left: 0;
  }

  main nav ul li {
    flex-basis: 185px;
  }

  .detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .detail .preferred-date-and-time,
  .detail .currentStatus-and-updates,
  .detail .orderDetails {
    padding-left: 3rem;
  }

  .detail .preferred-date-and-time {
    padding-right: 3rem;
  }

  .detail .currentStatus-and-updates {
    grid-row: span 2;
  }

  /* basically clear mq 500px */
  .detail .preferred-date-and-time {
    display: unset;
  }

  .detail .preferred-date-and-time .preferredDate p:last-of-type {
    margin-bottom: 20px;
  }

  .detail .preferred-date-and-time::after {
    border-right: unset;
  }

  .detail .preferred-date-and-time .preferredTime {
    padding-left: unset;
    border-left: unset;
  }

  .currentStatus-and-updates .currentStatus {
    padding-bottom: unset;
  }
  .currentStatus-and-updates .updates {
    grid-template-columns: 30px 1fr;
  }

  .currentStatus-and-updates .updates > h3 {
    grid-column: 1/-1;
    margin: 1rem 0;
    padding-right: unset;
  }

  .currentStatus-and-updates .updates .milestone {
    grid-column: unset;
  }
}

@media screen and (min-width: 900px) {
  /* exactly the same as mq 500px */
  .detail .preferred-date-and-time {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: stretch;
  }

  .detail .preferred-date-and-time > p {
    grid-column: span 3;
  }

  .detail .preferred-date-and-time .preferredDate p:last-of-type {
    margin-bottom: 0;
  }

  .detail .preferred-date-and-time::after {
    content: "";
    border-right: 1px solid var(--grey-1);
    display: block;
    height: 100%;
    transform: translateX(-50%);
  }

  .detail .preferred-date-and-time .preferredTime {
    order: 3;
  }

  .currentStatus-and-updates .currentStatus {
    padding-bottom: 1rem;
  }
  .currentStatus-and-updates .updates {
    grid-template-columns: auto 30px 1fr;
  }

  .currentStatus-and-updates .updates > h3 {
    grid-column: unset;
    margin: 0;
    padding-right: 2rem;
  }

  .currentStatus-and-updates .updates .milestone {
    grid-column: 2/3;
  }
}
